[submodule "src/components/iocm/dynamic-io-manager"]
	path = src/components/iocm/dynamic-io-manager
	url = ssh://git@gitlab.xlab.si:13022/mikelangelo/dynamic-io-manager.git
[submodule "lib/log4bsh"]
	path = lib/log4bsh
	url = ssh://git@gitlab.xlab.si:13022/mikelangelo/Log4bsh.git
